
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>
            GoMart in Colombo offers a diverse inventory of fresh, top-quality food items, beverages, and premium liquors. With years of expertise, we deliver a superior shopping experience. Our knowledgeable staff ensures every product meets the highest standards. More than a store, GoMart is a community hub where relationships thrive. Explore the extraordinary at GoMart!</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, Amour Street, Colombo.</li>
						<li>gomart&#64;gmail.com</li>
						<li>+94 77 4 477 984</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
